In [1]:
import pandas as pd
import tensorflow as tf

# Load csv using Pandas

In [2]:
csv_file = tf.keras.utils.get_file('heart.csv', 'https://storage.googleapis.com/applied-dl/heart.csv')

Downloading data from https://storage.googleapis.com/applied-dl/heart.csv
16384/13273 [=====================================] - 0s 0us/step

In [3]:
df = pd.read_csv(csv_file)
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,1,145,233,1,2,150,0,2.3,3,0,fixed,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3,normal,1
2,67,1,4,120,229,0,2,129,1,2.6,2,2,reversible,0
3,37,1,3,130,250,0,0,187,0,3.5,3,0,normal,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0,normal,0

In [4]:
df.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal         object
target        int64
dtype: object

In [5]:
# convert categorical column into numerical
df['thal'] = pd.Categorical(df['thal'])
df['thal'] = df.thal.cat.codes

In [6]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,1,145,233,1,2,150,0,2.3,3,0,2,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3,3,1
2,67,1,4,120,229,0,2,129,1,2.6,2,2,4,0
3,37,1,3,130,250,0,0,187,0,3.5,3,0,3,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0,3,0

# Loada dataframe into dataset

In [7]:
# remove label column
target = df.pop('target')

In [8]:
# read into dataset
dataset = tf.data.Dataset.from_tensor_slices((df.values, target.values))

In [9]:
# check the dataset
for feat, targ in dataset.take(5):
    print('Features: {}, Target: {}'.format(feat, targ))

Features: [ 63.    1.    1.  145.  233.    1.    2.  150.    0.    2.3   3.    0.
   2. ], Target: 0
Features: [ 67.    1.    4.  160.  286.    0.    2.  108.    1.    1.5   2.    3.
   3. ], Target: 1
Features: [ 67.    1.    4.  120.  229.    0.    2.  129.    1.    2.6   2.    2.
   4. ], Target: 0
Features: [ 37.    1.    3.  130.  250.    0.    0.  187.    0.    3.5   3.    0.
   3. ], Target: 0
Features: [ 41.    0.    2.  130.  204.    0.    2.  172.    0.    1.4   1.    0.
   3. ], Target: 0

In [10]:
# shuffle and batch
train_dataset = dataset.shuffle(len(df)).batch(1)

# Build model

In [11]:
def get_compiled_model():
    model = tf.keras.Sequential([
        tf.keras.layers.Dense(10, activation='relu'),
        tf.keras.layers.Dense(10, activation='relu'),
        tf.keras.layers.Dense(1)
    ])

    model.compile(optimizer='adam', loss=tf.keras.losses.BinaryCrossentropy(from_logits=True), metrics=['accuracy'])

    return model

In [12]:
model = get_compiled_model()
model.fit(train_dataset, epochs=15)

Epoch 1/15
WARNING:tensorflow:Layer dense is casting an input tensor from dtype float64 to the layer's dtype of float32, which is new behavior in TensorFlow 2.  The layer has dtype float32 because its dtype defaults to floatx.

If you intended to run this layer in float32, you can safely ignore this warning. If in doubt, this warning is likely only an issue if you are porting a TensorFlow 1.X model to TensorFlow 2.

To change all layers to have dtype float64 by default, call `tf.keras.backend.set_floatx('float64')`. To change just this layer, pass dtype='float64' to the layer constructor. If you are the author of this layer, you can disable autocasting by passing autocast=False to the base Layer constructor.

303/303 [==============================] - 1s 2ms/step - loss: 7.2557 - accuracy: 0.5743
Epoch 2/15
303/303 [==============================] - 1s 2ms/step - loss: 0.8652 - accuracy: 0.7063
Epoch 3/15
303/303 [==============================] - 1s 2ms/step - loss: 0.7577 - accuracy: 0.6898
Epoch 4/15
303/303 [==============================] - 1s 2ms/step - loss: 0.6728 - accuracy: 0.6964
Epoch 5/15
303/303 [==============================] - 1s 2ms/step - loss: 0.6615 - accuracy: 0.6997
Epoch 6/15
303/303 [==============================] - 1s 2ms/step - loss: 0.6191 - accuracy: 0.7195
Epoch 7/15
303/303 [==============================] - 1s 2ms/step - loss: 0.5947 - accuracy: 0.7261
Epoch 8/15
303/303 [==============================] - 1s 2ms/step - loss: 0.5816 - accuracy: 0.7129
Epoch 9/15
303/303 [==============================] - 1s 2ms/step - loss: 0.5278 - accuracy: 0.7459
Epoch 10/15
303/303 [==============================] - 1s 2ms/step - loss: 0.5344 - accuracy: 0.7294
Epoch 11/15
303/303 [==============================] - 1s 2ms/step - loss: 0.5107 - accuracy: 0.7492
Epoch 12/15
303/303 [==============================] - 1s 2ms/step - loss: 0.4930 - accuracy: 0.7624
Epoch 13/15
303/303 [==============================] - 1s 2ms/step - loss: 0.4999 - accuracy: 0.7624
Epoch 14/15
303/303 [==============================] - 1s 2ms/step - loss: 0.4758 - accuracy: 0.7855
Epoch 15/15
303/303 [==============================] - 1s 2ms/step - loss: 0.4812 - accuracy: 0.7393

# Alternative to feature columns

In [13]:
# can also pass dictionary as input to model
# need to create a matching dictionary of tf.keras.layers.Input layers and stack them

inputs = {key: tf.keras.layers.Input(shape=(), name=key) for key in df.keys()}

x = tf.stack(list(inputs.values()), axis=-1)
x = tf.keras.layers.Dense(10, activation='relu')(x)
output = tf.keras.layers.Dense(1)(x)

model_func = tf.keras.Model(inputs=inputs, outputs=output)

model_func.compile(optimizer='adam', loss=tf.keras.losses.BinaryCrossentropy(from_logits=True), metrics=['accuracy'])

In [15]:
# convert dataframe into dictionary and slice
dict_slices = tf.data.Dataset.from_tensor_slices((df.to_dict('list'), target.values)).batch(16)

for dict_slice in dict_slices.take(1):
    print(dict_slice)

({'age': <tf.Tensor: shape=(16,), dtype=int32, numpy=array([63, 67, 67, 37, 41, 56, 62, 57, 63, 53, 57, 56, 56, 44, 52, 57])>, 'sex': <tf.Tensor: shape=(16,), dtype=int32, numpy=array([1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1])>, 'cp': <tf.Tensor: shape=(16,), dtype=int32, numpy=array([1, 4, 4, 3, 2, 2, 4, 4, 4, 4, 4, 2, 3, 2, 3, 3])>, 'trestbps': <tf.Tensor: shape=(16,), dtype=int32, numpy=
array([145, 160, 120, 130, 130, 120, 140, 120, 130, 140, 140, 140, 130,
       120, 172, 150])>, 'chol': <tf.Tensor: shape=(16,), dtype=int32, numpy=
array([233, 286, 229, 250, 204, 236, 268, 354, 254, 203, 192, 294, 256,
       263, 199, 168])>, 'fbs': <tf.Tensor: shape=(16,), dtype=int32, numpy=array([1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0])>, 'restecg': <tf.Tensor: shape=(16,), dtype=int32, numpy=array([2, 2, 2, 0, 2, 0, 2, 0, 2, 2, 0, 2, 2, 0, 0, 0])>, 'thalach': <tf.Tensor: shape=(16,), dtype=int32, numpy=
array([150, 108, 129, 187, 172, 178, 160, 163, 147, 155, 148, 153, 142,
       173, 162, 174])>, 'exang': <tf.Tensor: shape=(16,), dtype=int32, numpy=array([0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0])>, 'oldpeak': <tf.Tensor: shape=(16,), dtype=float32, numpy=
array([2.3, 1.5, 2.6, 3.5, 1.4, 0.8, 3.6, 0.6, 1.4, 3.1, 0.4, 1.3, 0.6,
       0. , 0.5, 1.6], dtype=float32)>, 'slope': <tf.Tensor: shape=(16,), dtype=int32, numpy=array([3, 2, 2, 3, 1, 1, 3, 1, 2, 3, 2, 2, 2, 1, 1, 1])>, 'ca': <tf.Tensor: shape=(16,), dtype=int32, numpy=array([0, 3, 2, 0, 0, 0, 2, 0, 1, 0, 0, 0, 1, 0, 0, 0])>, 'thal': <tf.Tensor: shape=(16,), dtype=int32, numpy=array([2, 3, 4, 3, 3, 3, 3, 3, 4, 4, 2, 3, 2, 4, 4, 3])>}, <tf.Tensor: shape=(16,), dtype=int64, numpy=array([0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0], dtype=int64)>)

In [16]:
model_func.fit(dict_slices, epochs=15)

Epoch 1/15
19/19 [==============================] - 0s 3ms/step - loss: 17.2754 - accuracy: 0.7261
Epoch 2/15
19/19 [==============================] - 0s 3ms/step - loss: 9.9290 - accuracy: 0.7261
Epoch 3/15
19/19 [==============================] - 0s 3ms/step - loss: 3.1462 - accuracy: 0.7327
Epoch 4/15
19/19 [==============================] - 0s 3ms/step - loss: 1.2862 - accuracy: 0.5842
Epoch 5/15
19/19 [==============================] - 0s 3ms/step - loss: 0.8709 - accuracy: 0.7030
Epoch 6/15
19/19 [==============================] - 0s 3ms/step - loss: 0.7890 - accuracy: 0.7162
Epoch 7/15
19/19 [==============================] - 0s 3ms/step - loss: 0.7336 - accuracy: 0.7327
Epoch 8/15
19/19 [==============================] - 0s 3ms/step - loss: 0.6787 - accuracy: 0.7261
Epoch 9/15
19/19 [==============================] - 0s 3ms/step - loss: 0.6355 - accuracy: 0.7360
Epoch 10/15
19/19 [==============================] - 0s 3ms/step - loss: 0.5992 - accuracy: 0.7558
Epoch 11/15
19/19 [==============================] - 0s 3ms/step - loss: 0.5703 - accuracy: 0.7492
Epoch 12/15
19/19 [==============================] - 0s 3ms/step - loss: 0.5501 - accuracy: 0.7624
Epoch 13/15
19/19 [==============================] - 0s 3ms/step - loss: 0.5366 - accuracy: 0.7525
Epoch 14/15
19/19 [==============================] - 0s 3ms/step - loss: 0.5271 - accuracy: 0.7525
Epoch 15/15
19/19 [==============================] - 0s 3ms/step - loss: 0.5204 - accuracy: 0.7558